<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thymeleaf 3 + Spring 5 example</h1>
<p>
  Hello <!--/*@thymesVar id="recipient" type=""*/-->
  <span th:text="${recipient}">Peter</span>!!!
</p>
<a href="https://github.com/login/oauth/authorize?client_id=ca0489b80247aa9e20ca&redirect_uri=http://127.0.0.1:50030/oauth/redirect">Login In With GitHub</a>
</body>
</html>